html{

    /*scrolling effekt når man trykker på links til annet sted på siden*/
    scroll-behavior: smooth;

}

body{
    
    /* Fjerner margen*/
    margin: 0px;

    background-color: hsl(270, 25%, 87%);
    transition: background-color 1s linear;
    
    font-size: 20px;
    line-height: 150%;
    font-family: 'SpaceMono'
}

a { color: inherit; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

body > h1{
    font-family: "SpaceMono-Bold";
}

button{ font-family: "SpaceMono-Bold";}
/*Legger inn fonts*/
@font-face {
    font-family: SpaceMono;
    src: url(../../general/SpaceMono-Regular.ttf);
}
@font-face {
    font-family: SpaceMono-Bold;
    src: url(../../general/SpaceMono-Bold.ttf);
}

/*knapp som tar deg til toppen av siden*/
.tilTopp{
    position: fixed;
    bottom: 15px;
    right: 25px; 
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    font-weight: 500;
    border: hsl(146, 25%, 9%) solid 2px;
    background-color: hsl(146, 25%, 20%);
}

.tilTopp > button{
    padding: 0;
    border: none;
    background: none;
    
    color: hsl(270, 65%, 57%);
    font-size: 50px;
    
    -webkit-animation: glow 0.7s ease-in-out infinite alternate;
    -moz-animation: glow 0.7s ease-in-out infinite alternate;
    animation: glow 0.7s ease-in-out infinite alternate; 
}

.tilTopp > button:hover { 
    cursor: pointer;
}

/*animasjon for knappen, så den "gløder"*/
@keyframes glow {
    from {
        text-shadow: 0px 0px 10px hsl(270, 65%, 57%), 0 0 20px hsl(146, 25%, 9%), 0 0 40px hsl(146, 25%, 9%);
    }
    to {
        text-shadow: 0px 0px 15px hsl(270, 25%, 87%), 0 0 30px hsl(146, 25%, 9%), 0 0 50px hsl(146, 25%, 9%);    }
}


.box{
    overflow: hidden;
    width: 65%;
    margin: auto;
    padding: 10px;
    background-color: hsl(146, 25%, 20%);
    color: hsl(270, 25%, 87%);

    /*runder hjørnene*/
    border-radius: 25px;
    padding: 20px;
}



.box > h1, 
.box > * > h1, 
.box > * > * > h1{
    font-style: oblique;
    color: hsl(270, 65%, 57%);
}
.box > h2, 
.box > * > h2, 
.box > * > * > h2{
    font-style: italic;
    color: hsl(270, 65%, 57%);
}

#top{
    margin: 0px;
    text-align: center;
    background-color: hsl(146, 25%, 20%);
    overflow: auto;
    color: hsl(270, 65%, 57%);
    font-family: 'SpaceMono-Bold';
    width: 100%;
}


/* Plaserer linkene riktig*/
#top infoTop{
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;   
}

#top > img{
    width: 55px; 
    height: auto; 
    float: left;
    background-color: hsl(270, 65%, 57%);
    padding-bottom: 3px;
}

/* Endrer farge når du tar musen over*/
#top infoTop:hover{
    background-color: hsl(270, 65%, 57%);
    color: hsl(146, 25%, 9%);
    cursor: pointer;
}



/*meny-ikon for navigasjonsmenyen*/
#meny_bar{
    position: fixed;
    left: 23px;
    top: 25px;

    /*vises ikke før skjermen er liten nok (media query lengre ned)*/
    display: none;
    z-index: 1;
}

#meny_bar > button{
    padding: 0;
    border: none;
    background: none;
}

#meny_bar > button > img{
    width: 45px;
    height: auto;
    
}

#meny_bar > button:hover{
    cursor: pointer;
}

/*styler navigasjonsmenyen*/
#nav_meny{
    background-color: hsl(146, 25%, 20%);
    color:hsl(270, 65%, 57%);
    text-align: center;
    font-size: 25px;
    line-height: 110%;
    overflow: hidden;
    position: fixed;
    top:0;
    padding-top: 0;
    z-index: 2;
    
    /*endrer på height med menyknappen*/
    width: 100%;
    height: 0;
    transition: 0.4s;

}

#nav_meny > div{
    padding-top: 5px;
    margin: 4vh;
}

#nav_meny > div > a:hover{
    color: hsl(270, 25%, 87%);
}


/*styler menyen etter høyden på vinduet*/
@media only screen and (max-height:700px){
    #nav_meny{
        font-size: 23px;
    }

    #nav_meny > div{
        margin: 4vh;
    }

}

@media only screen and (max-height:600px){

    #nav_meny > div{
        margin: 7vh;
        padding-top: 6px;
    }

}


/*lager og styler en knapp for å lukke menyen*/
.lukk > button{
    position: absolute;
    top: 26px;
    left: 26px;
    padding: 4px 6px 4px 6px;
    border: solid black 2px;
    color: black;
    font-weight: 1000;
    font-size: 30px;
    background: none;
}

.lukk > button:hover{
    color: hsl(270, 65%, 57%);
    background-color: black;
    cursor: pointer;
    text-decoration: none;
}

/*smoother blur-effekten når menyen åpnes*/
#main{
    transition: .4s filter linear;
}


/* En klasse for å lage mellomrom (så man ikke trenger x-antall <br> etter hverandre)*/
.space{
    margin: 20px;
}


#footer{
    width: 100%;
    background: hsl(270, 65%, 57%);
    transition: .4s filter linear;
    margin-top: 10px;
    text-align: center;

    overflow: hidden;
}

#footer > div{

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*knapp*/
.knapp {
    display:inline-block;
    padding:2px 6px;
    border:3px solid hsl(146, 25%, 9%);
    margin:2px;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: hsl(146, 25%, 20%);
    color: hsl(270, 65%, 57%);
    text-align:center;
    
  }
  .knapp:hover {
    cursor:pointer;
    background-color: hsl(270, 25%, 87%);
    color: black;
    text-decoration: none;
  }


.bilde > img{
    height: 300px;
}
.bilde{
    text-align: center;
    margin-top: 30%;
}
.gridbunn{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:400px 350px;
    grid-template-areas:
    "tekst1 bilde"
    "tekst2 bilde";
}
.tekst1{
    grid-area: tekst1;
}
.tekst2{
    grid-area: tekst2;
}
.bilde{
    grid-area: bilde;
}
.gridbox{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "v h";

}

.h{
    grid-area: h;
    height: 100%;
}
.v{
    grid-area: v;
    height: 100%;
}
.boxinvis{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 70%;
    padding: 0px;
   
}
bildetekst{
    font-size: 15px;
    margin-bottom: 10px;
}



@media only screen and (max-width:1510px){

    body{
        line-height: 135%;
    }
    
    * > p{
        font-size: 18px;
    }
    * > h1{
        font-size: 34px;
    }
    * > h2{
        font-size: 25px;
    }
    * > h3{
        font-size: 20px;
    }
    .gridbox{
        grid-template-columns: 1fr;
        grid-template-areas:
        "v"
        "h";
    }
    .gridbunn{
    grid-template-columns: 1fr;
    grid-template-areas:
    "tekst1"
    "tekst2"
    "bilde";
    }
    .bilde{
        margin-top: 0px;
    }
    #top{
        display: none;
    }

    #meny_bar{
        display: block;
    }




}

@media only screen and (max-width:800px){

    body{
        line-height: 115%;
    }

    * > p{
        font-size: 16px;
        }
    * > h1{
        font-size: 27px;
    }
    * > h2{
        font-size: 23px;
    }
    * > h3{
        font-size: 18px;
    }


}