/*styler form*/
form{
    width: 100%;
    margin-left: 2%;
    display: inline-block;   
}

label{
    display: block;
    
}

/*styler de inputtene som ikker er submit*/
input[type=text],input[type=number],input[type=date],input[type=time]{
    padding: 10px;
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}

/*styler submit knappen*/
input[type=submit]{
    border: 2px;
    text-decoration: none;
    background-color: #3A492B;
    color: #e6deb9;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    cursor: pointer;
}

textarea{
    height: 250px;
    width: 100%;
}

/*styler posisjonen og størelsen på elemtet i form*/
.FormElem{
    margin: 10px;
    width: 42%;
    display: inline-block;
}

/*oppretter to *nesten identiske grids, men plasserer bilde/tekst motsatt på hver av de*/
.grid_1{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0.7fr 0.8fr;
    grid-template-rows: 0fr;
    grid-template-areas: 
    "tekst bilde";
    }

.grid_2{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0.8fr 0.7fr;
    grid-template-rows: 0fr;
    grid-template-areas: 
    "bilde tekst";
    }
    
/*styler teksten og bildene*/
.tekst {
    grid-area: tekst;
    text-align: left;
    font-size: 22px;
    }

.bilde{
    grid-area: bilde;
    
    padding-top: 5%;
    display: inline-block;
    max-height: 85%;
    }

/*margin etter hvilket grid bildet står i*/
.grid_1 > .bilde{
    margin-left: 2%;
}

.grid_2 > .bilde{
    margin-right: 2%;
}

.bilde > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }    

/*bildetekst*/
.bilde > bildetekst{
    font-size: 17px;
    margin-bottom: 10px;
}


/*styler takkemeldingen når man booker*/
#takk{
    margin-top: 25vh;
    margin-right: 15vw;
    height: 25vh;
    width: 60vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}


@media only screen and (max-width:1510px){

    /*endrer layoutet, nå tar teksten 2/3 av plassen horisontalt*/
    .grid_1{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "tekst tekst bilde";
    }

    .grid_2{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "bilde tekst tekst";
        
    }

    .bilde{
        max-height: 60%;
        padding-top: 20%;
    }

    .grid_1 > .bilde{
        margin-left: 7%;
        }

    .grid_2 > .bilde{
        margin-right: 7%;
        }


}


@media only screen and (max-width:800px){

    /*tekst står nå over bilde*/
    .grid_1{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.3fr;
        grid-template-areas: 
        "tekst"
        "bilde";
    }

    .grid_2{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.3fr;
        grid-template-areas: 
        "tekst"
        "bilde";
    }

    .tekst{
        margin-bottom: 0;
        padding-bottom: 0;
        padding-right: 5px;
        padding-left: 5px;
    }

    .bilde{
        text-align: center;
        padding-top: 0;
        margin-top: 0;
        margin-left: 0;
    }

    .bilde > img{
        width: 50vw;
        height: auto;
        
    }

    .grid_1 > .bilde{
        margin-left: 0;
        }

    .grid_2 > .bilde{
        margin-right: 0;
        }

}