
form{
    width: 100%;
    margin-left: 2%;
    display: inline-block;   
}
.FormElem{
    margin: 10px;
}

.FormElem.inline{
    width: 42%;
    display: inline-block;
    
}
label{
    display: block;
    
}
input[type=text],input[type=number],input[type=date]{
    padding: 10px;
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}
textarea{
    height: 250px;
    width: 100%;
}
input[type=submit]{
    border: 2px;
    text-decoration: none;
    background-color: #3A492B;
    color: #e6deb9;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
}