html{

    /*scrolling effekt når man trykker på links til annet sted på siden*/
    scroll-behavior: smooth;

}

body{
    
    /* Fjerner margen*/
    margin: 0px;

    /* Styler bakgrunnen med et bilde
    Bildet er tatt fra www.wallpaperflare.com */
    background-image: url(bakgrunn.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    
    font-size: 20px;
}

/*gir links samme farge som resten av teksten*/
a{
    color: inherit;
}

/* Styler links*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

/*Legger inn fonts*/
@font-face {
    font-family: TrajanPro-Regular;
    src: url(TrajanPro-Regular.ttf);
}
@font-face {
    font-family: TrajanPro-Bold;
    src: url(TrajanPro-Bold.otf);
}
@font-face {
    font-family: Evergreen;
    src: url(Evergreen-yL2e.ttf);
}


.box{
    background-color: #3a4928;
    font-family: Arial;
    overflow: hidden;
    color: #e6deb9;
    width: 65%;
    margin: auto;
    padding: 10px;
}
.box > h1{
    font-style: oblique;
    color: #e6deb9;
}
.box > h2{
    font-style: italic;
    color: #e6deb9;
}

.boxinv{
    background-color: #e6deb9;
    font-family: Arial;
    overflow: hidden;
    width: 65%;
    margin: auto;
    padding: 10px;

}

.boxinv > h1{
    font-style: oblique;
    color: #3a4928;
}

.boxinv > h2{
    font-style: italic;
    color: #3a4928;
}

#top{
    margin: 0px;
    text-align: center;
    background-color: #3a4928;
    overflow: auto;
    color: #e6deb9;
    font-family: 'TrajanPro-Bold';
}

/* Plaserer linkene riktig*/
#top infoTop{
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;   
}

#top > a > img{
    width: 55px; 
    height: auto; 
    float: left;
}

/* Endrer farge når du tar musen over*/
#top infoTop:hover{
    background-color: #e6deb9;
    color: #3a4928;
    cursor: pointer;
}


/* En klasse for å lage mellomrom (så man ikke trenger x-antall <br> etter hverandre)*/
.space{
    margin: 20px;
}

/* Styler footer*/
#footer {
    padding: 35px;
    margin: 0px;
    text-align: center;
    background-color: #3a4928;
}

/* Sentrerer bildet i footeren*/
#footer > img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* Styler infoblokkene i footeren*/

.info{
    display: inline-block;
    width: 420px;
    height: 380px;
    padding: 15px;
    margin: 10px;
    font-size: 90%;
    font-family: TrajanPro-Regular;
}

.info > h2{
    margin: 5px;
    padding: 3px;
    margin-top: 0;
    padding-top: 0;
}
.info > p{
    margin: 5px;
    padding: 3px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

/* Styler en <hr>*/
hr.bunn {
    border:1px solid #e6deb9;
    margin: 15px;
}

a.tilTopp{
    color: #907a48; 
    font-size: 60px;
    position: fixed;
    bottom: 15px;
    right: 25px; 
    font-weight: 500;
    height: 80px;
    width: 70px;
    text-align: center;
}

a.tilTopp:hover { 
    text-decoration: none;
    font-weight: 1000;
    right: 24px;
}







/*Dette er litt "work in progress*/

.grid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0.7fr 0.8fr;
    grid-template-rows: 0fr;
    grid-template-areas: 
    "grid_1 grid_2";

    }
    
    
.grid_1 {
    grid-area: grid_1;
    text-align: left;
    font-size: 20px;
    }

.grid_2{
    grid-area: grid_2;
    margin-left: 2%;
    padding-top: 5%;
    display: inline-block;
    max-height: 90%;
    }

.grid_2 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
.grid_1 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    

.grid_2 > bildetekst{
    font-size: 15px;
    margin-bottom: 10px;
}
.grid_1 > bildetekst{
    font-size: 15px;
    margin-bottom: 10px;
}

.knapp {
    display:inline-block;
    padding:2px 6px;
    border:3px solid #3a4928;
    margin:0 1px 1px 0;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: #4B6B3C;
    color: #e6deb9;
    text-align:center;
    
  }
  .knapp:hover {
    cursor:pointer;
    background-color: #e6deb9;
    color: #3b2e1e;
    text-decoration: none;
  }

  .knappinv {
    display:inline-block;
    padding:2px 6px;
    border:3px solid #3b2e1e;
    margin:0 1px 1px 0;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: #e6deb9;
    color: #3b2e1e;
    text-align:center;
    
  }
  .knappinv:hover {
    cursor:pointer;
    background-color: #d4bf88;
    color: black;
    text-decoration: none;
  }




@media only screen and (max-width:1510px){
    
    * > p{
        font-size: 18px;
    }
    * > h1{
        font-size: 30px;
    }
    * > h2{
        font-size: 25px;
    }
    * > h3{
        font-size: 20px;
    }


    .info{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 340px;
        
    }

    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: 
        "grid_1"
        "grid_2";
        
    }

    .grid_1{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .grid_2{
        padding-top: 0;
        margin-top: 0;
        margin-left: 0;
        
        
    }


}

@media only screen and (max-width:800px){
    * > p{
        font-size: 17px;
        }
    * > h1{
        font-size: 27px;
    }
    * > h2{
        font-size: 23px;
    }
    * > h3{
        font-size: 18px;
    }


    .info{
        height: 300px;
        font-size: 93%;
        width: 360px;
    }

    .grid{
        grid-template-rows: 0.5fr 1fr;
    }



    /*usikker på om dette er den beste løsningen*/
    /*eventuelt lage en lukkbar navigasjonsbar*/
    /* https://www.w3schools.com/css/css_navbar.asp */
    #top infoTop{
        font-size: calc(0.85*25px);
        padding: calc(0.85*14px 0.85*16px);
    }

    #top > a > img{
        width: calc(0.85*55px);
        height: auto;
    }
}


      