/* Styler menyen, lager den inni sin egen boks*/
.meny, .allergener{
    font-family: 'TrajanPro-Regular', Times, serif;
    text-align: center;
    width: fit-content;
}

/* Styler hr og allergisymbolene i menyen*/

.column > img {
    width: 20px;
    height: auto;
}

.meny > hr{
    border: 1px solid #3a4928;
    
}

.meny > h1{
   margin-top: 10px; 
   font-family: 'TrajanPro-Bold';
}
.tree{
    font-family: 'Evergreen';
    font-size: 150%;
}

/* Setter symbolene for allergier fint ved siden av hverandre*/
.column {
    float: none;
}
.row::after {
    content: "";
    clear: both;
    display: inline-block;
}      




/*dette er ass*/

/* Allergikart */
.allergener > h2{
    margin-top: 0;
}

.allergikart{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
}

.allergikart > div{ 
    width: 50px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    font-size: 13px;
}

.allergikart > div > img{
    width: 30px;
    height: auto;
}