

/* Styler menyen, lager den inni sin egen boks*/
.meny, .allergener{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

.allergener{
    width: 50%;
}


/* Styler hr, h1 og allergisymbolene i menyen*/

.column > img {
    width: 20px;
    height: auto;
}

.meny > hr{
    border: 1px solid #3a4928;
    
}

.meny > h1{
   margin-top: 10px; 
}

/* Setter symbolene for allergier fint ved siden av hverandre*/
.column {
    float: none;
}
.row::after {
    content: "";
    clear: both;
    display: inline-block;
}      


/* Allergikart */
.allergener > h2{
    margin-top: 0;
}

.allergikart{
    padding-left: 3px;
    padding-right: 3px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
}

.allergikart > div{ 
    text-align: center;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;
    width: 15%;
}

.allergikart > div > img{
    width: 50px;
    height: auto;

}

@media only screen and (max-width:1510px){
    .allergikart > div{
        width: 12.5%;
        font-size: 16px;
        margin-left: 6px;
        margin-right: 6px;
    }

    .allergikart > div > img{
        width: 38px;
    }

}

@media only screen and (max-width:800px){
    .allergikart > div{
        width: 10%;
        font-size: 13px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .allergikart > div > img{
        width: 25px;
    }
}