

/* Styler menyen, lager den inni sin egen boks*/
.meny, .allergener{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

.allergener{
    width: fit-content;
}


/* Styler hr, h1 og allergisymbolene i menyen*/

.column > img {
    width: 20px;
    height: auto;
}

.meny > hr{
    border: 1px solid #3a4928;
    
}

.meny > h1{
   margin-top: 10px; 
}

/* Setter symbolene for allergier fint ved siden av hverandre*/
.column {
    float: none;
}
.row::after {
    content: "";
    clear: both;
    display: inline-block;
}      


/* Allergikart */
.allergener > h2{
    margin-top: 0;
}

.allergikart{
    padding-left: 3px;
    padding-right: 3px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
}

.allergikart > div{ 
    width: 50px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    font-size: 17px;
}

.allergikart > div > img{
    width: 30px;
    height: auto;
}

@media only screen and (max-width:800px){
    .allergikart > div{
        width: 40px;
        font-size: 15px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .allergikart > div > img{
        width: 25px;
    }

}