
        body{
            /* Fjerner margen*/
            margin: 0px;
         
            /* Styler bakgrunnen med et bilde*/
            background-image: url(bakgrunn.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        /* Styler links*/
        a:link { text-decoration: none; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: underline; }
        a:active { text-decoration: underline; }

        /* Bakgrunn top bar*/
        #top {
            background-color: #cfab7b;
            font-family: Arial;
            overflow: hidden;
        }

        /* Plaserer linkene riktig*/
        #top infoTop{
            float: left;
            color: #57004f;
            text-align: center;
            padding: 14px 16px;
            font-size: 25px;    
        }

        /* Endrer farge når du tar musen over*/
        #top infoTop:hover{
            background-color: #57004f;
            color: white;
            cursor: pointer;
        }

        /* Styler menyen, lager den inni sin egen boks*/
        div.Menu{
            width: fit-content;
            text-align: center;
            background-color: antiquewhite;
            font-family: 'Times New Roman', Times, serif;
            margin: auto;
            padding: 10px;
        }

        /* Styler h1, h2 og p i menyen*/
        .Menu > h1{
            font-style: oblique;
            text-align: center;
            color: #57004f;
        }
        .Menu > h2{
            font-style: italic;
            text-align: center;
            color: #57004f;
        }
        .Menu > p{
            font-size:19px;
        }

        /* Setter symbolene for allergier fint ved siden av hverandre*/
        .column {
            float: none;
        }
        .row::after {
            content: "";
            clear: both;
            display: inline-block;
        }      

        /* Allergikart */
        .alergener{
            width: fit-content;
            text-align: center;
            background-color: antiquewhite;
            font-family: 'Times New Roman', Times, serif;
            margin: auto;
            padding: 10px;
            font-size: 17px;
        }
        
        /* En klasse for å lage mellomrom (så man ikke trenger x-antall <br> etter hverandre)*/
        .space{
            margin: 20px;
        }

        /* Styler footer*/
        #footer {
            background-color: #cfab7b;
            font-family: Arial;
            color: black;
            padding: 35px;
            margin: 0px;
            text-align: center;
        }

        /* Sentrerer bildet i footeren*/
        #footer > img {
            display: block;
            margin-left: auto;
            margin-right: auto;
    
        }

        /* Styler infoblokkene i footeren og teskten i den*/
        .heading{
            color: #57004f;
            font-size: 25px;
        }
        .info{
            display: inline-block;
            background: antiquewhite;
            width: 420px;
            height: 320px;
            padding: 15px;
            margin: 10px;
            overflow: auto;
        }
        .info a{
            color: inherit;     /*gir links samme farge som resten av teksten*/
        }
        .info > h3{
            margin: 5px;
            padding: 3px;
        }
        .info > p{
            margin: 5px;
            padding: 3px;
            line-height: 1.5;
            display: inline-block;
            vertical-align: middle;
        }

        /* Styler en <hr>*/
        hr.bunn {
            border:1px solid #57004f;
            margin: 15px;
        }

       
