/* sentrerer teksten i menyen*/
.meny, .allergener{ 
    text-align: center;   
}

/* Styler hr, h1 og allergisymbolene i menyen*/
.meny > hr{
    border: 1px solid #3a4928;
    
}

.meny > h1{
   margin-top: 10px; 
    
}

/* Setter symbolene for allergier fint ved siden av hverandre i menyen*/
.column {
    float: none;
}
.column > img {
    width: 20px;
    height: auto;
}
.row::after {
    content: "";
    clear: both;
    display: inline-block;
}      


/* Allergikart */
/*lager en flexbox*/
.allergikart{
    padding-left: 3px;
    padding-right: 3px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    align-content: center;
}

/*styler innholdet i allergikartet*/
.allergikart > div{ 
    text-align: center;
    font-size: 19px;
    margin-left: 8px;
    margin-right: 8px;
    width: 15%;
}

.allergikart > div > img{
    width: 50px;
    height: auto;

}
.allergener{ 
    width: 60%; 
}
.allergener > h2{ 
    margin-top: 0; 
}



/*skalerer ned med skjermstørrelse*/

@media only screen and (max-width:1510px){
    .allergikart > div{
        width: 12.5%;
        font-size: 16px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .allergikart > div > img{
        width: 38px;
    }

}


/*lager et vertikalt allergikart for mobil/smale skjermer*/
@media only screen and (max-width:800px){

    .allergener{
        width: 34%;
    }

    .allergener_mobil{
        display: flex;
        align-content: center;
    }

    .allergikart{
        flex-direction: column;
        padding-left: 3px;
        padding-right: 3px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .allergikart > div{
        width: 50%;
        font-size: 17px;
        margin-top: 2px;
        margin-bottom: 2px;
        line-height: 42px;
    }

    .allergikart > div > img{
        width: 27px;
    }
}